@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'sans serif';
  font-size: 10pt;
  color: #345; }

a {
  text-decoration: none;
  color: #33658a; }

a:hover {
  text-decoration: none;
  color: #86bbd8; }

#wrapper {
  margin: 100px;
  max-width: 800px; }

.title {
  text-transform: uppercase;
  font-size: 120%;
  padding-bottom: 0.5em; }
  .title .first-name {
    color: #345; }
  .title .last-name {
    color: #001; }

.description {
  font-size: 90%;
  color: #001;
  margin-bottom: 1em; }
  .description #details-toggler {
    color: #ccd;
    margin-left: 3em;
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
  .description .up-arrow:before {
    content: "▲"; }
  .description .down-arrow:before {
    content: "▼"; }
  .description .read-more:before {
    content: "Read more"; }
  .description .read-less:before {
    content: "Read less"; }
  .description #details-toggler:hover {
    color: #899;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }

#details {
  color: #899;
  padding: 1em 0 0 0;
  display: none; }

.dev-tool {
  border: 1px solid #ccd;
  color: #899;
  line-height: 2em;
  padding: 2px 5px;
  white-space: nowrap; }

.projects-title {
  margin: 1em 0;
  color: #001; }

.projects-all {
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 1em 0; }

.projects-section {
  display: grid;
  grid-template-columns: 150px 1fr; }
  .projects-section .section-aside {
    text-align: right; }
    .projects-section .section-aside .section-name {
      white-space: nowrap;
      padding: 0 1em;
      display: inline;
      color: #899;
      margin-right: 300px;
      -webkit-transition: margin-right 2s ease-out, color 0.25s ease;
      -moz-transition: margin-right 2s ease-out, color 0.25s ease;
      -o-transition: margin-right 2s ease-out, color 0.25s ease;
      transition: margin-right 2s ease-out, color 0.25s ease; }
    .projects-section .section-aside .tools {
      padding: 0 1em;
      opacity: 0.0;
      padding-top: 1em;
      font-size: 80%;
      margin: 0 100% 0 -100%;
      -webkit-transition: margin 1s ease-out, opacity 0.75s ease;
      -moz-transition: margin 1s ease-out, opacity 0.75s ease;
      -o-transition: margin 1s ease-out, opacity 0.75s ease;
      transition: margin 1s ease-out, opacity 0.75s ease; }
  .projects-section .section-list {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto, 100px);
    grid-column-gap: 2px; }
    .projects-section .section-list .project-card img {
      display: block;
      border: 1px solid #ddd;
      width: 100%;
      opacity: 0.5;
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      transition: opacity 1s ease; }
    .projects-section .section-list .project-card img:hover {
      opacity: 1;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .projects-section .section-list .project-card .project-details {
      display: none; }

.projects-section:hover .section-name {
  margin-right: 0;
  -webkit-transition: margin-right 0.25s ease, color 0.5s ease;
  -moz-transition: margin-right 0.25s ease, color 0.5s ease;
  -o-transition: margin-right 0.25s ease, color 0.5s ease;
  transition: margin-right 0.25s ease, color 0.5s ease;
  color: #001; }
.projects-section:hover .tools {
  padding-top: 1em;
  font-size: 80%;
  opacity: 1.0;
  margin: 0;
  -webkit-transition: margin 0.5s ease, opacity 1s ease;
  -moz-transition: margin 0.5s ease, opacity 1s ease;
  -o-transition: margin 0.5s ease, opacity 1s ease;
  transition: margin 0.5s ease, opacity 1s ease; }

#overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: none; }

#modal {
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%); }
  #modal .close {
    text-align: right;
    font-size: 200%;
    padding: 0;
    margin: 0; }

.project-details {
  width: 90%;
  height: 90%;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  padding: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%); }
  .project-details .close {
    text-align: right;
    font-size: 200%;
    padding: 0;
    margin: 0; }

/*# sourceMappingURL=main.css.map */
